<div class="row">
  <div class="col-md-12 mrg-top-40">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h3 class="bold">Create new team</h3>
        <p class="sub-title"><i>It looks like you are not in a team yet, you can create one here!</i></p><br>

        <form action="" method="post">

          <input type="hidden" name="postHandler" value="createTeam">

          <p>Team name</p>
          <input type="text" class="form-control" name="team_name" id="team-name"><br>

          <p>Team description</p>
          <textarea rows="7"  class="form-control" name="team_descr" id="team-descr"></textarea><br>

          <p>Team language</p>
          <select name="team_language">
            <option value="" type="checkbox">Language</option>
            <option value="Danish" type="checkbox">Danish</option>
            <option value="English" type="checkbox">English</option>
            <option value="Finnish" type="checkbox">Finnish</option>
            <option value="French" type="checkbox">French</option>
            <option value="German" type="checkbox">German</option>
            <option value="Italian" type="checkbox">Italian</option>
            <option value="Japanese" type="checkbox">Japanese</option>
            <option value="Norwegian" type="checkbox">Norwegian</option>
            <option value="Polish" type="checkbox">Polish</option>
            <option value="Romanian" type="checkbox">Romanian</option>
            <option value="Russian" type="checkbox">Russian</option>
            <option value="Spanish" type="checkbox">Spanish</option>
            <option value="Swedish" type="checkbox">Swedish</option>
            <option value="Thai" type="checkbox">Thai</option>
            <option value="Turkish" type="checkbox">Turkish</option>
            <option value="Ukrainian" type="checkbox">Ukrainian</option>
          </select><br><br>

          <p>Image (Paste your image URL here, preferably 500 x 800px)</p>
          <input type="text" class="form-control" name="team_img" id="team-img"><br>

          <select name="looking_for_players"><!--FIX THIS TO A CHECKBOX WITH VALUE YES-->
          <option value="" type="checkbox">Looking for players?</option>
          <option value="yes" type="checkbox">Yes</option>
          <option value="no" type="checkbox">No</option>
          </select><br><br>

          <input type="submit" class="sub-btn" value="Create">

        </form>
      </div>
    </div>
  </div>
</div>
