<div class="row">
  <div class="col-md-12" style="margin-top: 40px;">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 center">
        <h3>Create new team</h3>
        <p style="color: red;"><i>It looks like you are not in a team yet, you can create one here!</i></p><br>

        <form action="" method="post">

          <input type="hidden" name="postHandler" value="createTeam">

          <p>Team name</p>
          <input type="text" class="form-control" name="team_name" id="team-name"><br>

          <p>Team description</p>
          <textarea rows="7"  class="form-control" name="team_desc" id="team-desc"></textarea><br>

          <p>Image (Paste your image URL here, preferably 500 x 800px)</p>

          <input type="text" class="form-control" name="team_img" id="team-img"><br>

          <select name="looking_for_players">
          <option value="" type="checkbox">Looking for players?</option>
          <option value="yes" type="checkbox">Yes</option>
          <option value="no" type="checkbox">No</option>
          </select><br><br>
          
          <input type="submit" class="btn-default" value="Create!">

        </form>
      </div>
    </div>
  </div>
</div>
