<div class="faq-container">

  <!-- Page Header -->
         <div class="row">
             <div class="col-lg-12">
                 <h1 class="page-header">FAQ</h1>
             </div>
         </div>
    <!-- /.row -->

  </div>
  <div class="row faq-article">
    <div class="col-md-12">
      <h3>How to play</h3>
      <p>Wright bergkamp platt wilson campbell limpar. Emirates highbury manor wenger graham rioch gooner onenil. Monreal sands gray neave satterthwaite cazorla flamini diaby. Jenkinson frimpong kelly gibbs. Sagna kennedy mertesacker vermaelen kosielny rosicky arteta podolski. Wilshere ozil price giroud walcott ball theox ramsey szczesny. Liambrady rocastle dixon davidoleary talbot adams winterburn keown bould kroenke. Usmanov gazidis crawford davis anderson dick. McNichol hollins jackson cross ashcroft briercliffe gooing coleman.</p>
    </div>
  </div>

  <div class="row faq-article">
    <div class="col-md-12">
      <h3>Do i have to register?</h3>
      <p>Wright bergkamp platt wilson campbell limpar. Emirates highbury manor wenger graham rioch gooner onenil. Monreal sands gray neave satterthwaite cazorla flamini diaby. Jenkinson frimpong kelly gibbs. Sagna kennedy mertesacker vermaelen kosielny rosicky arteta podolski. Wilshere ozil price giroud walcott ball theox ramsey szczesny. Liambrady rocastle dixon davidoleary talbot adams winterburn keown bould kroenke. Usmanov gazidis crawford davis anderson dick. McNichol hollins jackson cross ashcroft briercliffe gooing coleman.</p>
    </div>
  </div>

  <div class="row faq-article">
    <div class="col-md-12">
      <h3>How to report players</h3>
      <p>Wright bergkamp platt wilson campbell limpar. Emirates highbury manor wenger graham rioch gooner onenil. Monreal sands gray neave satterthwaite cazorla flamini diaby. Jenkinson frimpong kelly gibbs. Sagna kennedy mertesacker vermaelen kosielny rosicky arteta podolski. Wilshere ozil price giroud walcott ball theox ramsey szczesny. Liambrady rocastle dixon davidoleary talbot adams winterburn keown bould kroenke. Usmanov gazidis crawford davis anderson dick. McNichol hollins jackson cross ashcroft briercliffe gooing coleman.</p>
    </div>
  </div>

  <div class="row faq-article">
    <div class="col-md-12">
      <h3>What why and how</h3>
      <p>Wright bergkamp platt wilson campbell limpar. Emirates highbury manor wenger graham rioch gooner onenil. Monreal sands gray neave satterthwaite cazorla flamini diaby. Jenkinson frimpong kelly gibbs. Sagna kennedy mertesacker vermaelen kosielny rosicky arteta podolski. Wilshere ozil price giroud walcott ball theox ramsey szczesny. Liambrady rocastle dixon davidoleary talbot adams winterburn keown bould kroenke. Usmanov gazidis crawford davis anderson dick. McNichol hollins jackson cross ashcroft briercliffe gooing coleman.</p>
    </div>
  </div>

</div>
