
<div class="footer">

<div style="display: inline-block;">
  <ul style="display: inline-block;">
    <li class="inline-block mrg-left-40"><a href="#">This site is powered by <u>Steam</u></a></li>
    <!-- <li class="inline-block mrg-left-40"><a href="#">Teams</a></li>
    <li class="inline-block mrg-left-40"><a href="#">FAQ</a></li> -->
  </ul>
</div>

<div style="float: right; display: inline-block">
 <ul>
   <li class="inline-block mrg-left-40"><a href="#">FACEBOOK</a></li>
   <li class="inline-block mrg-left-40"><a href="#">TWITTER</a></li>
   <li class="inline-block mrg-left-40"><a href="#">STEAM</a></li>
 </ul>
</div>

</div>
