
<div class="footer">

<div style="display: inline-block; margin-left: 60px;">
  <ul style="display: inline-block;">
    <li class="inline-block mrg-left-40"><a href="https://steamcommunity.com/" target="_blank">This site is powered by <u>Steam</u></a></li>
    <!-- <li class="inline-block mrg-left-40"><a href="#">Teams</a></li>
    <li class="inline-block mrg-left-40"><a href="#">FAQ</a></li> -->
  </ul>
</div>

<div style="float: right; display: inline-block">
 <ul style=" margin-right: 60px;">
   <li class="inline-block mrg-left-20"><a href="http://facebook.com" target="_blank">FACEBOOK</a></li>
   <li class="inline-block mrg-left-20"><a href="http://twitter.com" target="_blank">TWITTER</a></li>
   <li class="inline-block mrg-left-20"><a href="http://steamcommunity.com" target="_blank">STEAM</a></li>
 </ul>
</div>

</div>
