
<div class="footer">

<div class="inline-block mrg-left-60">
  <ul class="inline-block">
    <li class="inline-block mrg-left-40"><a href="https://steamcommunity.com/" target="_blank">This site is powered by <u>Steam</u></a></li>
    <!-- <li class="inline-block mrg-left-40"><a href="#">Teams</a></li>
    <li class="inline-block mrg-left-40"><a href="#">FAQ</a></li> -->
  </ul>
</div>

<div class="inline-block float-right">
 <ul class="mrg-right-60">
   <li class="inline-block mrg-left-20"><a href="http://facebook.com" target="_blank">FACEBOOK</a></li>
   <li class="inline-block mrg-left-20"><a href="http://twitter.com" target="_blank">TWITTER</a></li>
   <li class="inline-block mrg-left-20"><a href="http://steamcommunity.com" target="_blank">STEAM</a></li>
 </ul>
</div>

</div>
