<div class="row">
  <div class="col-md-12 text-center">

  	<a style="display:inline;" href="http://facebook.com"><img src="https://cdn4.iconfinder.com/data/icons/miu-social/60/facebook-social-media-64.png"></a>

  	<a style="display:inline;" href="http://twitter.com"><img src="https://cdn4.iconfinder.com/data/icons/miu-social/60/twitter-social-media-64.png"></a>

  	<a style="display:inline;" href="http://store.steampowered.com"><img src="https://cdn4.iconfinder.com/data/icons/miu-social/60/steam-social-media-64.png"></a>

  	<a style="display:inline;" href="http://reddit.com"><img src="https://cdn4.iconfinder.com/data/icons/miu-social/60/reddit-social-media-64.png"></a>

  </div>
</div>
