<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h4 class="logo" style="display: inline-block"><a href="index.php">TEAM MATE, YO!</a></h4>
      <ul style="display: inline-block;">
        <li style="display: inline-block; margin-left: 40px;"><a href="?/players/viewuserprofiles">Players</a></li>
        <li style="display: inline-block; margin-left: 40px;"><a href="#">Teams</a></li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      {% if currentUser %}

        <a href="?/Profile/displayUser/{{currentUser.steamId}}"> <img class="navbar-right navbar-form" src="{{ currentUser.imageM }}"> </a>
        <form action="/index.php?" method="post" class="navbar-form navbar-right">
		<input type="submit" name="postHandler" value="logout">
        </form>
	<a href="?/EditProfile/currentUser" class="navbar-right navbar-form">Edit Profile</a>

      {% else %}

        <form action="?/LoginRedirect/steamLogin&login" method="post" class="navbar-form navbar-right" name="steamLogin">
            <input type="image" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png">
        </form>

      {% endif %}


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
