<div class="row">
  <div class="col-xs-12">

<nav class="navbar navbar-default">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h4 class="logo"><a href="index.php">KAMRAT</a></h4>
      <ul class="navlinkstyles" style="display: inline-block;">
        <li class="inline-block mrg-left-20"><a href="?/Players/viewuserprofiles">Players</a></li>
        <li class="inline-block mrg-left-20"><a href="/?/Teams/viewTeams">Teams</a></li>
        <li class="inline-block mrg-left-20"><a href="?/Faq/viewFaq">FAQ</a></li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      {% if currentUser %}

        <div class="navbar-right">
         <nav class="menu-opener">
           <img src="{{currentUser.imageS}}">
         </nav>

         <nav class="menu">
           <ul class="menu-inner">
             <a href="#" class="menu-link">

               <li>
                 <form action="/index.php?" method="post" class="navbar-form navbar-right logout-btn">
                     <input type="submit" name="postHandler" value="LOGOUT" class="logout-btn">
                 </form>
                </li>
             </a>

             <a href="?/EditProfile/currentUser" class="menu-link">
               <li>Settings</li>
             </a>

             <a href="?/Profile/displayUser/{{currentUser.steamId}}" class="menu-link">
               <li>Profile</li>
             </a>


            {% if currentUser.inTeam > 0 %}
              <a href="?/TeamProfile/myTeam" class="menu-link">
            {%  else %}
              <a href="?/CreateTeam/newTeam" class="menu-link">
            {% endif %}

               <li>Team</li>
             </a>

           </ul>
         </nav>
        </div>


      {% else %}

        <form action="?/LoginRedirect/steamLogin&login" method="post" class="navbar-form navbar-right" name="steamLogin" style="margin-right: 70px;">
            <input type="image" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png">
        </form>

      {% endif %}


    </div><!-- /.navbar-collapse -->
</nav>

</div>
</div>
