<div class="row">
    <div class="col-md-12">
        <h1 class="landingpagetitle">Get ready to meet your new BFFS! :-))</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-4 landingpage-select">
        <h5>Prefered language</h5>
        <dl class="dropdown dp1">
            <dt>
                <a href="#">
                    <span class="hida1">Select</span>
                    <p class="multiSel1"></p>
                </a>
            </dt>
        <dd>
            <div class="mutliSelect1 select-left-mid">
                <ul>
                    <li>
                        <input type="checkbox" value="English" /> English</li>
                    <li>
                        <input type="checkbox" value="Swedish" /> Swedish</li>
                    <li>
                        <input type="checkbox" value="Danish" /> Danish</li>
                    <li>
                        <input type="checkbox" value="German" /> German</li>
                    <li>
                        <input type="checkbox" value="French" /> French</li>
                    <li>
                        <input type="checkbox" value="Norwegian" /> Norwegian</li>
                </ul>
            </div>
        </dd>
    </dl>
  </div>



    <div class="col-md-4 landingpage-select">
        <h5>Rank</h5>
        <dl class="dropdown dp2">
            <dt>
                <a href="#">
                  <span class="hida2">Select</span>
                  <p class="multiSel2"></p>
                </a>
            </dt>
        <dd>
            <div class="mutliSelect2 select-left-mid">
                <ul>
                    <li>
                        <input type="checkbox" value="GE" /><span><img src="http://s22.postimg.org/4eiardx8x/image.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="SMFC" /><span><img src="http://s9.postimg.org/eu769ua6n/SMFC.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="LEM" /> <span><img src="http://s23.postimg.org/npxi9uol7/LEM.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="LE" /> <span><img src="http://s2.postimg.org/5016j734p/image.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="DMG" /> <span><img src="http://s16.postimg.org/o3betagh1/dmg.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="MGE" /> <span><img src="http://s17.postimg.org/gpr5jjyzz/mge.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="MG2" /> <span><img src="http://s28.postimg.org/f4pdznib1/mg2.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="MG1" /> <span><img src="http://s1.postimg.org/863728x8f/mg1.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="GN4" /> <span><img src="http://s13.postimg.org/ecagltug7/GN4.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="GN3" /> <span><img src="http://s13.postimg.org/jdhun71wn/GN3.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="GN2" /> <span><img src="http://s10.postimg.org/mk5v6lpvt/GN2.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                    <li>
                        <input type="checkbox" value="GN1" /> <span><img src="http://s7.postimg.org/v734usakr/GN1.png" style="width: 55px; height: 20px; margin-left: 5px;"></span></li>
                </ul>
            </div>
        </dd>
    </dl>

  </div>


    <div class="col-md-4 landingpage-select">
    <h5>Ambition</h5>
    <dl class="dropdown dp3">
        <dt>
            <a href="#">
              <span class="hida3">Select</span>
              <p class="multiSel3"></p>
            </a>
        </dt>

        <dd>
            <div class="mutliSelect3 select-right">
                <ul>
                    <li>
                        <input type="checkbox" value="CF" /> Casual friendly</li>
                    <li>
                        <input type="checkbox" value="P2W" /> Playing to win</li>
                    <li>
                        <input type="checkbox" value="HC" /> Hardcore</li>
                </ul>
            </div>
        </dd>
    </dl>
    </div>
</div>
    <div class="row">
        <div class="col-md-12 landingpage-select">
            <!-- TWIG IF TILL FUNKTION -->
            {% if currentUser %}
                <a href="/?/LobbyLoader/addUserToPlfl"><button type="button" class="playnow-btn"><h1>PLAY!</h1></button></a>
            {% else %}
                <a href="/?/UnderConstruction/viewConstruction"><button type="button" class="playnow-btn"><h1>PLAY!</h1></button></a>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 center">
            <div class="bs-example">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading ">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is this weird thing i've never heard about?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body gray-hover">
                                <p>All you have to do is select your preferences on the landing page, click play and hopefully you will end up in a lobby with players matching you. By clicking the go to group button you will all be thrown into a Steam group from where you can invite eachother to a ingame lobby. One the players in a lobby is assigned leader meaning he or she is responsible for arranging things.</p>
                                <a href="?/Faq/viewFaq">Learn more.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
