<div class="row">
  <div class="col-md-12">
    <h1 class="landingpagetitle">Get ready to meet you new BFFS! :-))</h1>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <form class="landingpage-form">
      <button type="button" class="btn btn-danger">What speak do you speak?</button>

    </form>
  </div>


  <div class="col-md-4">
    <form class="landingpage-form">
      <button type="button" class="btn btn-danger">What rank are you?</button>

    </form>
  </div>


  <div class="col-md-4">
    <form class="landingpage-form">
      <button type="button" class="btn btn-danger">What's your ambition?</button>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="landingpage-form">
        <button type="button" class="playnow-btn"><h1>PLAY!</h1></button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center; margin-bottom: 175px;">
      <a href="">Not sure what this is? <b>Click here for more info</b></a>
    </div>
  </div>

</div>
