<div class="row">
  <div class="col-md-12">
    <h1 class="landingpagetitle">Get ready to meet your new BFFS! :-))</h1>
  </div>
</div>

<div class="row">

  <div class="col-md-4 landingpage-select">
    <h5>Prefered language</h5>
      <select>
        <option value="">English</option>
        <option value="">Swedish</option>
        <option value="">Danish</option>
        <option value="">German</option>
        <option value="">French</option>
      </select>
  </div>


  <div class="col-md-4 landingpage-select">
    <h5>Rank</h5>
      <select>
        <option value="">Silver 1</option>
        <option value="">Silver 2</option>
        <option value="">Silver 3</option>
        <option value="">Silver 4</option>
        <option value="">SE</option>
        <option value="">SEM</option>
        <option value="">GN 1</option>
        <option value="">GN 2</option>
        <option value="">GN 3</option>
        <option value="">GNM</option>
        <option value="">MG 1</option>
        <option value="">MG 2</option>
        <option value="">MGE</option>
        <option value="">DMG</option>
        <option value="">LE</option>
        <option value="">LEM</option>
        <option value="">SMFE</option>
        <option value="">GE</option>
      </select>
  </div>


  <div class="col-md-4 landingpage-select">
    <h5>Ambition</h5>
      <select>
        <option value="">Casual Friendly</option>
        <option value="">Playing to win</option>
        <option value="">Looking for team</option>
        <option value="">Road to global</option>
      </select>
  </div>

  <div class="row">
    <div class="col-md-12 landingpage-select">
        <button type="button" class="playnow-btn"><h1>PLAY!</h1></button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center; margin-bottom: 175px;">
      <dl class="accordion">
        <dt><a href="" class="more-info">Not sure what this is? Click here for more info</a></dt>
        <dd>Wright bergkamp platt wilson campbell limpar. Emirates highbury manor wenger graham rioch gooner onenil. Monreal sands gray neave satterthwaite cazorla flamini diaby.
            Jenkinson frimpong kelly gibbs. Sagna kennedy mertesacker vermaelen kosielny rosicky arteta podolski.
            Wilshere ozil price giroud walcott ball theox ramsey szczesny. Liambrady rocastle dixon davidoleary talbot adams winterburn keown bould kroenke. Usmanov gazidis crawford davis anderson dick.
            McNichol hollins jackson cross ashcroft briercliffe gooing coleman. McEachrane ducat pauldavis sharp. McDonald lewis fabianski sanogo bendtner shaw greenaway mckinnon flanagan graham rutherford blyth.
            Bradshaw butler hutchins white toner williamson baker mackie. Milne robson john herd strong whyte henderson. Ure brown neill magill eastham sammels barnwell. Mccullough skirton macleod armstrong baker court furnell mclintock storey.
            Charliegeorge stapleton rimmer nelson rice sunderland young jennings macdonald. Rix sansom allinson champagnecharlie sansom woodcock robson. Lukic perry groves merson Williams hayes. Alansmith richardson thomas campbell hillier morrowbrokenarm jensen parlour.
            Platt vieira grimandi overmars petit ljundberg kanu. Almunia rvp edu lauren reyes hleb. Nasri adebayor arteta chapman denilson diaby.</dd>
      </dl>
    </div>
  </div>

</div>
