<div class="loading-content">

	<div class="row">
	  <div class="col-md-12 center">
	    <h3>Finding matching players... </h3>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12 center">
	    <img class="loading" src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_smokegrenade.8746d3fec5a1041d61412295aee74c7d873ccacb.png">
	  </div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 text-center mrg-top-50">
			<h5>{{randomTip}}</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 lobby-button center">
			<a href="?/LobbyLoader/stopLookingForLobby"><button type="button" class="sub-btn mrg-top-20 lobby-stop">Stop Looking</button></a>
		</div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/Scripts/reloadAfterAWhile.js"></script>
