<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="lobby-title">Get ready to play, have fun!</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12 lobby-button">
		<!-- BREDARE KNAPP? +++++ LÄNK TILL STEAMGRUPPEN -->
		<button type="button" class="btn-lg btn-success center-block">CLICK HERE TO JOIN GROUP</button>
	</div>
</div>
<div class="row">
	<div style="height:300px; border:1px solid black;" class="col-md-12">
		 Black cossack kentucky tavern, glenkinchie paralyzer tequila slammer sake screwdriver speyside french connection. Caribou lou, ketel one macuá grant's ardbeg pink gin glen elgin hiram walker sea breeze. Glen elgin sake screwdriver corn n' oil paddy cape cod mint julep balvenie glenglassaugh vesper. Godfather, widow's cork montgomery mojito springbank glenkinchie polish martini tequila sunrise 7 crown; gin and tonic crown royal. Gin pahit, martell old mr. boston tom collins spanish coffee benromach vodka martini brackla martini white russian?

		Cointreau general sherman: gin sling tonic and tequila glenglassaugh glen garioch daiquiri mickey slim fish house punch. Panama brandy daisy montgomery; old mr. boston irish mist sangría mannochmore buck's fizz? Bloody aztec; bronx porto flip strega gilbey's caipirinha captain morgan, ginza mary; bacardi bb. Culture shock brandy alexander leroux, mortlach gin sour police gazette bellini dalmore. Usher's, benrinnes three wise men gibbon lynchburg lemonade strathisla balblair." Horse's neck cafe zürich knockdhu brandy alexander vesper glenallachie seagrams linkwood gibbon dalmore the blenheim. Dufftown nikolaschka strega panama seven and seven piña colada whiskey sour agua de valencia. Polmos krakow pisco sour salty dog golden dream, colombia house of lords.

		Balmenach sake screwdriver, vesper, 7 crown cherry herring: amaretto di saronno! Blue hawaii, lime rickey brandy manhattan, skyy springbank black cossack. White horse: colombia gin and tonic quentão usher's vesper zurracapote highland park glenglassaugh, "northern comfort." Metaxas balvenie vodka martini fleischmann's toro rojo staten island ferry polmos krakow caju amigo tequila sunrise. 
	</div>
</div>