<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <img class="loading" src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_smokegrenade.8746d3fec5a1041d61412295aee74c7d873ccacb.png">
  </div>
</div>
