<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="lobby-title">Get ready to play, have fun!</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12"><img src="http://placehold.it/200x200"></div>
					<div class="col-md-12">NICK</div>
				</div>
			</div>
		</div>
	</div>
</div>

<input type="checkbox" name="dialog_state" id="dialog_state" class="dialog_state">

<div id='dialog'>
	<label id="dlg-back" for="dialog_state"></label>
	<div id='dlg-wrap'>
		<label id="dlg-close" for="dialog_state"><i class="icon ion-ios-close-empty"></i></label>
		<h2 id='dlg-header'>You are the lobby leader!</h2>
		<div id='dlg-content'>It is now your responsibility to make sure a game is initiated through the Steam group provided.</div>
		<div id='dlg-prompt'>
			<div class='button'><i class="icon ion-ios-checkmark-empty"></i> Allright, let's do it!</div>
		</div>
	</div>
</div>

<main id='main' class='main_area'>
	<div class='center'>
		<label class="button" for="dialog_state"><i class="icon ion-ios-upload-outline
			"></i>Lobby leader</label>
	</div>
<div id='console'></div>
</main>

<div class="row">
	<div class="col-md-12 lobby-button center">
		<!-- BREDARE KNAPP? +++++ LÄNK TILL STEAMGRUPPEN -->
		<a href="steam://friends/joinchat/103582791439841834"><button type="button" class="playnow-btn"><h1>Join group!</h1></button></a>
