<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <img class="loading" src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_smokegrenade.8746d3fec5a1041d61412295aee74c7d873ccacb.png">
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <input type="checkbox" name="dialog_state" id="dialog_state" class="dialog_state">

    <div id='dialog'>
      <label id="dlg-back" for="dialog_state"></label>
      <div id='dlg-wrap'>
        <label id="dlg-close" for="dialog_state"><i class="icon ion-ios-close-empty"></i></label>
        <h2 id='dlg-header'>Are you sure?</h2>
        <div id='dlg-content'>You are about to kill a puppy, that's some serious shit. Have you really thought this through?</div>
        <div id='dlg-prompt'>
          <div class='button positive'><i class="icon ion-ios-checkmark-empty"></i> Yes, let's do it!</div>
        </div>
      </div>
    </div>

    <main id='main' class='main_area'>
      <div class='center'>
        <label class="button" for="dialog_state"><i class="icon ion-ios-upload-outline
          "></i> Open the dialog</label>
      </div>
    <div id='console'></div>
    </main>

  </div>
</div>
