<div class="container">
<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="lobby-title">Get ready to play, have fun!</h1>
	</div>
</div>
<div class="row lobby-members">
	{% for user in lobbyMates %}
		{% if user.steamId == leader.steamId %}
			<div class="col-md-3 player-card leader">
		{% elseif user.steamId == currentUser.steamId %}
			<div class="col-md-3 player-card currentUser">
		{% else %}
			<div class="col-md-3 player-card">
		{% endif %}
		{% include "playersummarycard.twig" %}
			</div>
	{% endfor %}

</div>

{% if leader.steamId == currentUser.steamId %}
	<input type="checkbox" name="dialog_state" id="dialog_state" class="dialog_state">

	<div id='dialog'>
		<label id="dlg-back" for="dialog_state"></label>
		<div id='dlg-wrap'>
			<label id="dlg-close" for="dialog_state"></label>
			<h2 id='dlg-header'>You are the lobby leader!</h2>
			<div id='dlg-content'>It is now your responsibility to make sure a game is initiated through the Steam group provided.</div>
			<div id='dlg-prompt'>
				<div class='button'>Allright, let's do it!</div>
			</div>
		</div>
	</div>

	<main id='main' class='main_area'>
		<div class='center'>
			<label class="button" id="trigger" for="dialog_state">Lobby leader</label>
		</div>
		<div id='console'></div>
	</main>
{% endif %}

<div class="row">
	<div class="col-md-12 lobby-button center">
		<a href="steam://friends/joinchat/103582791439841834"><button type="button" class="playnow-btn"><h1>Play!</h1></button></a><br>
    <br>
    <a href="?/Lobby/leaveLobby"><u>Leave :-(</u></a>
	</div>
</div>
</div>

<script>
document.getElementById('trigger').click();
</script>
