<!-- Players Card -->
<div class="row">
  <div class="col-md-2">
    <a href="?/Profile/displayuser/{{ user.steamId }}">
      <img class="player-imgS" src="{{ user.imageS }}" alt="">
    </a>
  </div>
  <div class="col-md-8">
    <p class="player-mini-nick">
        <a href="?/Profile/displayuser/{{ user.steamId }}"> {{ user.nickname }}</a>
    </p>
  </div>
</div>
<!-- /.row -->
