<div class="row">

  <div class="col-md-4">
    <img src="http://placehold.it/250x250">
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-10">
          <h3>Carl</h3>
          <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <ul>
          <li>Global Elite</li>
          <li>Playing to win</li>
          <li>Looking for team</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-6">
        <ul>
          <li>Rating: </li>
          <li>Games played:</li>
          <li>Registered:</li>
        </ul>
      </div>
    </div>

  </div>

</div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2 style="text-align: center;">In-game stats</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 stats-container">
      </div>
    </div>
