<div class="container team-container">
<!-- Page Heading -->
<div class="row"> <!--Add styles to class-->
  <div class="col-lg-12 page-header">
   <div class="row">
       <div class="col-lg-12"> <!--Add styles to class-->
           <h2>Find teams to play with
             <small class="filter-toggle">FILTER</small> <!--Add styles to class-->
           </h2>
       </div>
   </div>

   <div class="row show-filter mrg-bot-35 mrg-top-35">
      <form method="post" action="?/Teams/filterTeams">

        <div class="col-xs-12 col-sm-2">
          <select name="looking_for_players">
          <option value="" type="checkbox">Looking for players</option>
          <option value="yes" type="checkbox">Yes</option>
          <option value="no" type="checkbox">No</option>
          </select>
        </div>

        <!-- Search form for team names -->
        <div class="col-xs-12 col-sm-2">
          <input type="text" name="team_name" placeholder="Enter team name here...">
        </div>

        <div class="col-xs-2">
        <input class="sub-btn" type="submit" value="Filter">
        </div>

      </form>
    </div><!-- ROW END -->
  </div>
</div><!-- /.row -->

<div class="row">
  {% for team in teams %}
    <div class="col-xs-12 col-sm-4 col-md-3" style="margin-bottom: 20px;">
      {% include "teamsummarycard.twig" %}
    </div>
  {% endfor %}
</div>

<div class="row">
    <div class="col-xs-12">
  {% if lastOffset > 0 %}
				 <a href="?/Players/offsetLastFilter/{{lastOffset - 1}}"> < Prev </a>
  {% endif %}

  {% if users|length == 24 %}
				 <a class="pull-right" href="?/Players/offsetLastFilter/{{lastOffset + 1}}"> Next > </a>
  {% endif %}
    </div>
</div>
<!-- /.row -->
</div>
