<!-- Page Heading -->
       <div class="row">
           <div class="col-lg-12">
               <h1 class="page-header">Find teams
               </h1>
           </div>
       </div>
       <!-- /.row -->

       <!-- Row -->
       <div class="row">
         {% for team in teams %}
            <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="{{ team.img }}" style="height: 200px; width: 200px;">
                      <div class="caption">
                          <h3>{{ team.name }}</h3>
                          <p> {{ team.descr }}<p>
                          <a href="?/TeamProfile/Team/{{ team.id }}" class="btn btn-default">More Info</a>
                          </p>
                      </div>
                  </div>
              </div>
          {% endfor %}
       </div>
       <!-- /.row -->
  <!-- /.row -->
