<div class="row">
  <div class="col-md-offset 3col-md-6 center">
    <h3>{{ team.name }}</h3>
    <img src="{{ team.img }}">
    <h4></h4>
    <p>
      asdasdsa
      {{ team.descr }}
    </p>
  </div>
</div>
