<div class="row">
  <div class="col-md-offset 3col-md-6 center">
    <h3>Team name</h3>
    <img src="http://placehold.it/300x150">
    <h4>Description</h4>
    <p>
      Aitken walker cowans bache, evans spink smart barry. Dixon mortimer hampton devey houghton waring? McParland garraty astley capewell guzan. Given hunter devey crabtree. Spencer bache ducat massie, dixon crowe aitken ross. Nicholl richardson townsend mellberg. Hitzlsperger mccann sorensen laursen agbonlahor. Milner petrov young carew, reocoker friedel cuellar heskey. Clark albrighton warnock dunne collins vlaar. Cowans gibson rimmer evans, mcnaught spink ormsby shaw. Swain birch bremner morley, withe walters dorigo daley. Gage platt price mcgrath yorke? Atkinson ehiogu parker richardson staunton teale saunders. Barret bosnich houghton hendrie taylor. Draper southgate wright joachim vassell barry merson delaney? Boateng jlloydsamuel diondublin rioch gidman. Bigron villapark randylerner deadlydoug leaguecup benteke.
    </p>
  </div>
</div>
