<!-- Page Heading -->
       <div class="row">
           <div class="col-lg-12">
               <h1 class="page-header">Find teams
               </h1>
           </div>
       </div>
       <!-- /.row -->

       <!-- Row -->
       <div class="row">
           <div class="col-md-5">
               <a href="#">
                   <img class="img-responsive" src="http://placehold.it/400x150" alt="">
               </a>
           </div>
           <div class="col-md-7">
               <h3>Asdf</h3>
               <h4>Trollteamerino</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.  Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
           </div>
       </div>
       <!-- /.row -->
<hr>
       <!-- Row -->
       <div class="row">
           <div class="col-md-5">
               <a href="#">
                   <img class="img-responsive" src="http://placehold.it/400x150" alt="">
               </a>
           </div>
           <div class="col-md-7">
               <h3>Asdf</h3>
               <h4>Trollteamerino</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.  Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
           </div>
       </div>
       <!-- /.row -->
<hr>

<!-- Row -->
<div class="row">
    <div class="col-md-5">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/400x150" alt="">
        </a>
    </div>
    <div class="col-md-7">
        <h3>Asdf</h3>
        <h4>Trollteamerino</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.  Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
</div>
<!-- /.row -->
