/*GENERAL STYLES
===================================================== */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #000;
  outline: none;
}

textarea {
	resize: none;
}

.center {
  text-align: center;
}

.redTxt{
  color: red;
}

/* RESET BOOTSTRAP STYLES
===================================================== */

a:focus {
  text-decoration: none !important;
}

.navbar-default, .navbar {
  background: none;
  border: 0;
  box-shadow: none;
}

.panel-default>.panel-heading {
  background: transparent;
}

.panel-default, .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border: 0;
}

.panel {
-webkit-box-shadow: 0 0 0 rgba(0,0,0,.0);
box-shadow: 0 0 0 rgba(0,0,0,.0);
}

/* HEADER STYLES
=================================================== */

.logo a:focus {
  text-decoration: none !important;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  display: inline-block;
}

ul li {
  margin-bottom: 15px;
}


/* LANDING PAGE STYLES
===================================================== */

.landingpagetitle {
  text-align: center;
  margin-bottom: 75px;
  margin-top: 75px;
}

.landingpage-select {
  text-align: center;
  margin-bottom: 75px;
}

.playnow-btn {
  height: 60px;
  width: 250px;
  background: none;
  border: 3px solid black;
}

.playnow-btn:hover {
  background: #000;
  color: #FFF;
  border: 3px solid #000;
}

.accordion {
  margin: 10px;
}
.accordion dt, .accordion dd {
  padding: 10px;
}

.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-weight: bold;
}
.accordion dd {
  font-size: 12px;
}


/* LOADING PAGE ANIMATION
===================================================== */

.loading {
width: 140px;
height: 100px;
-webkit-animation:spin 2s linear infinite;
-moz-animation:spin 2s linear infinite;
animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* EDIT PROFILE PAGE
=====================================================*/

select {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* PROFILE PAGE
===================================================== */

.profileheader {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bio-container {
  margin-bottom: 50px;
  border: 1px solid black;
  min-height: 100px;
}

.stats-container {
  min-height: 150px;
  border: 1px solid black;
  margin-bottom: 30px;
  padding: 20px;
}


/* FAQ
===================================================== */

.faq-article h3 {
  margin-bottom: 7px;
}

.faq-article {
  margin-bottom: 20px;
}

/* LOBBY
===================================================== */

.lobby-title{
  margin: 70px;
}

.lobby-button{
  margin-bottom: 50px;
  margin-top: 50px;
}

/* FOOTER
===================================================== */

.footer {
  background: #eee;
  height: 150px;
}

/* TESTING DROPDOWNS
===================================================== */

.dropdown dd,
.dropdown dt {
  margin: 0;
  padding: 0;
}

.dropdown ul {
  margin: 0 0 0 80px;
}

.dropdown dd {
  position: relative;
}


.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
  background-color: #4F6877;
  display: inline-block;
  padding: 14px 8px 5px 10px;
  min-height: 55px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 200px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0;
  padding: 10px 15px 2px 5px;
  position: absolute;
  width: 200px;
  list-style: none;
  overflow: auto;
  z-index: 999;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

/* NAV SLIDER TEST
===================================================== */

.logout-btn {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 32px;
  position: absolute;
  top: 20%;
  right: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 32px;
}

.menu {
  background: #4F6877;
  color: transparent;
  height: 32px;
  position: absolute;
  top: 20%;
  right: 4.2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
}
.menu.active {
  width: -webkit-calc(30% - 2rem);
  width: calc(30% - 2rem);
  z-index: 0;
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

.menu-link:hover {
  background: #f1c40f ;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 5px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}

/* PROMPT TEST
====================================================== */

#console {display: none;}
#dialog {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.15);
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
.dialog_state {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.dialog_state:checked + #dialog,
#dialog.dialog_open {
  transition-delay:0s;
  opacity: 1;
  visibility: visible;
}
#dlg-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
.dialog_state:checked + #dialog #dlg-wrap {
  max-height: 24rem;
  opacity: 1;
  padding: 2rem;
}
#dlg-wrap {
  position: relative;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 640px;
  padding: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #969696;
  background: #fff;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: all .5s;
}
#dlg-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}
h2#dlg-header {
  font: 200 2em/1em Raleway, Open Sans, Arial, Sans-Serif;
  text-transform: initial;
  letter-spacing: -0.025em;
  margin: 0 0 1rem;
}
#dlg-content {
  font-weight: 300;
  letter-spacing: 0.015em;
}
#dlg-prompt .button {
  border-radius: 0;
}

.main_area {
  transition: all 0.5s ease-out;
}
.dialog_state:checked ~ .main_area,
.main_area.dialog_open {
  filter: blur(6px);
}

.button, a.button {
  display: inline-block;
  padding: 0.25em 1em;
  box-sizing: border-box;
  margin-top: 20px;

  background: #ffffff;
  color: #606060;
  text-decoration: none;
  letter-spacing: 0.075em;
  line-height: 2rem;
  font-family: Raleway, Open Sans, Arial;
  font-weight: 300;
  font-size: 0.85em;
  border: 1px solid #e0e0e0;

  transition: .1s all;
  cursor: pointer;
}
.button:hover, a.button:hover {
  color: #a0a0a0;
  background: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  /*transform: scale(1.01);*/
}


/* Console */
#console {position: absolute;bottom: 0;left: 0;width: 100%;height: 100px;box-sizing: border-box;background: #f0f0f0;color: #606060;font: 400 13px/16px Open Sans;letter-spacing: 0em;text-align: left;padding: 2px;overflow-y: scroll;0 } #console p {margin: 0; padding: 0;} #console p em {font-style: none;font-weight: 700;}


/* Testing lobby tooltip 
================================================== */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
