html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/*GENERAL STYLES
===================================================== */
body {
  background: url('http://s17.postimg.org/cxnzuxdin/Background_image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #19191b;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
}

*:focus {
    outline: none;
}

/*http://s17.postimg.org/cxnzuxdin/Background_image.jpg*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

p {
  font-weight: 200;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #FFF;
  outline: none;
}

.gray-hover a:hover {
  color: #999;
  transition: 0.2s;
}

textarea {
	resize: none;
  color: #000;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.redTxt{
  color: red;
}

.rankimg {
  width: 55px;
  height: 20px;
}

.rankimg-small {
  width: 45px;
  height: 15px;
}

.flag-small {
  height: 22px;
  width: 22px;
}

input[type=text] {
  color: black;
}

.navbar-toggle {
  border: 0;
  color: white;
  margin-top: 0px;´
}

.navbar-default .navbar-toggle .icon-bar {
  background: #FFF;
}

.navbar-collapse {
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent;
}

.mrg-top-40 {
  margin-top: 40px;
}

.mrg-top-35 {
  margin-top: 35px;
}

.mrg-top-20 {
  margin-top: 20px;
}

.mrg-bot-35 {
  margin-bottom: 35px;
}

.mrg-bot-20 {
  margin-bottom: 20px;
}

.mrg-bot-15 {
  margin-bottom: 15px;
}

.mrg-left-10 {
  margin-left: 10px;
}

.mrg-left-20 {
  margin-left: 16px;
}

.mrg-left-40 {
  margin-left: 40px;
}

.mrg-left-60{
  margin-left: 60px;
}

.mrg-right-10{
  margin-right: 10px;
}

.mrg-right-20 {
  margin-right: 20px;
}

.mrg-right-60{
  margin-right: 60px;
}



.inline-block {
  display: inline-block;
}

/* RESET BOOTSTRAP STYLES
===================================================== */

.navbar-default, .navbar {
  background: none;
  border: 0;
  box-shadow: none;
}

.panel-default>.panel-heading {
  background: none;
}

.panel-body {
  background: none;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
  color: #FFF;
}

.panel-default, .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border: 0;
}

.panel {
-webkit-box-shadow: 0 0 0 rgba(0,0,0,.0);
box-shadow: 0 0 0 rgba(0,0,0,.0);
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

.page-header {
  border-bottom: 1px solid #d72919;
}

/* HEADER STYLES
=================================================== */

.navbar {
  margin-top: 35px;
  margin-left: 20px;
}

.navbar-header {
  margin-left: 70px;
  margin-top: -7px;
}

.logo {
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
}

.header-img{
  height: 30px;
  width: auto;
}

.navlinkstyles a {
  font-size: 16px;
  padding-bottom: 10px;
  text-transform: Uppercase;
  font-weight: 700;
  display: inline-block;
}

.navlinkstyles a:visited, .navlinkstyles a:hover, .navlinkstyles a:active {
  border-bottom: 1px solid #d72919;
}

.navlinkstyles {
  display: inline-block;
}

.navlinkstyles li {
  display: inline-block;
  margin-left: 20px;
}

.logo a {
  color: #d72919;
}

ul li {
  margin-bottom: 15px;
}

.user-mobile {
  display: none !important;
}

.menu-opener, .steam-login {
  margin-right: 70px;
}

@media only screen
and (max-width : 1300px) {

  .menu-opener {
    margin-right: 0px;
  }

  .navbar-header {
    margin-left: 0;
  }
}

@media only screen
and (max-width: 765px) {

  .menu-opener, .menu, .menu-inner {
    display: none;
  }

  .navlinkstyles {
    display: block;
  }

  .navlinkstyles li {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .steam-login {
    text-align: center;
    margin-right: 0px;
  }

  .navlinkstyles a:visited, .navlinkstyles a:hover, .navlinkstyles a:active {
    border: 0;
  }

  .user-mobile {
    display: inline-block !important;
  }

}


/* LANDING PAGE STYLES
===================================================== */

.landing-page-container {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  top: 25%;
  left: 18%;
  max-width: 900px;
}

.landing-page-text p {
  color: #888;
  font-size: 18px;
}

.landing-info-text {
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  line-height: 30px;
}

 .beta-text {
  letter-spacing: 6px;
  margin-bottom: 15px;
}

.landing-page-title {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 8px;
  margin-bottom: 20px;
  font-weight: 700;
}

.playnow-btn {
  border-radius: 3px;
  letter-spacing: 1.2px;
  line-height: 222px;
  height: 45px;
  width: 222px;
  background: #d72919;
  border: 0;
  text-transform: uppercase;
}

.playnow-btn h1 {
  font-size: 14px;
  font-weight: 700;
}

.landingpage-select .playnow-btn:hover {
  background: #b72619;
  color: #FFF;
  transition: 0.1s;
}


/* 13" AND SMALLER */

@media only screen
and (max-width: 1450px) {

  .landing-page-container {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    left: 14%;
    max-width: 900px;
  }

  .landing-info-text {
    margin-bottom: 10px;
  }

  .landing-page-text p {
    font-size: 14px;
    line-height: 25px;
  }

  .landing-page-title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .beta-text {
   letter-spacing: 6px;
   margin-bottom: 10px;
 }
}

@media only screen
and (max-width:1005px) {
  .landingpage-select {
    margin-left: 0;
  }

  .landing-page-container {
    max-width: 550px;
  }
}

@media only screen
and (max-width:760px){
  .landing-page-container {
    margin: 20px auto;
    text-align: center;
    position: static;
    max-width: 300px;
  }
}

@media only screen
and (max-width:499px){


  .playnow-btn {
    display: none;
  }

  .dropdown {
    display: none;
  }
}


/* LOADING PAGE ANIMATION
===================================================== */

.loading {
margin-top: 35px;
width: 140px;
height: 100px;
-webkit-animation:spin 2s linear infinite;
-moz-animation:spin 2s linear infinite;
animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* EDIT PROFILE PAGE
=====================================================*/

select {
  height: 27px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #000;
}

.edit-player ul li {
  width: 228px;
}

.option-title {
  margin-bottom: 22px;
}

.selection-info {
  font-size: 12px;
  color: #888;
  padding-left: 15px;
}

.bio-container h2 {
  margin-bottom: 20px;
}

.dob-li {
  width: 228px;
}

.dob-day {
  width: 70px;
}

.dob-select {
  width: 33%;
}

.bio-border{
  border:0;
}

/* PLAYER PROFILE PAGE
===================================================== */

.profile-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-header .bio-text {
  max-width: 200px;
  font-size: 12px;
  color: #888;
}

.stats-container {
  margin-top: 30px;
}

.stats-box-header {
  margin-bottom: 15px;
}

/* PLAYERS PAGE
===================================================== */

.page-header h2 {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.player-card {
  width: 206px;
  height: 360px;
  margin-bottom: 40px;
  padding: 10px;
  margin-right: 12.5px;
  margin-left: 12.5px;
}

.player-card h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 20px 0px 10px 0px;
  font-weight: 700;
}
.player-card p {
  text-transform: Uppercase;
  color: #888;
  line-height: 24px;
  font-weight: 700;
}

.player-card:hover {
   background: #222;
}

.show-filter{
  display: none;
}

.filter-toggle {
  font-size: 19px;
  font-weight: bold;
  color: #FFF;
  margin-left: 820px;
  cursor: pointer;
}

.sub-btn{
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  background: #d72919;
  text-align: center;
  padding: 3px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.sub-btn:hover {
  background: #b72619;
  transition: 0.1s;
}


/* TEAM PROFILE PAGE
=====================================================*/

.team-profile-img {
  width: 200px;
  height: 200px;
}

.team-profile-container h2 {
  font-weight: 700;
}

.team-profile-container p {
  color: #888;
}

.team-info {
  margin-left: 40px;
}

.form-control {
  border-radius: 0px;
}

.comment-text {
  color: #888;
}

.manage-team {
  margin-left: -55px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d72919;
}

.applicants {
  margin-left: -75px;
}

.manage-applicants{
  overflow: hidden;
  max-height: 120px;
}

.manage-applicants-header{
  margin-top: 0px;
}

.manage-applicants form{
  display: inline-block;
  margin-right: 10px;
}

.manage-applicants img{
  vertical-align: top;
}

.manage-applicants:hover{
  overflow-y: scroll;
}

.manage-applicant-posts{
  margin-top: 5px;
}

.apply-to-team {
  margin-left: -66px;
  padding-bottom: 10px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d72919;
}

.applied-to-team{
  margin-left: -140px;
}

 .comment-header {
  margin-bottom: 10px;
}

.date-stamp {
  font-size: 10px;
}

.player-mini {
  width: 100px;
  margin-bottom: 25px;
  padding: 10px;
  margin-right: 25px;
}

/* Edit team
==================================================== */

.sub-title{
color: red
}

.edit-team {
  margin-bottom: 75px;
}

/* Teams
==================================================== */

.team-container .filter-toggle {
    margin-left: 834px;
}


/* Team summary cards
==================================================== */

.thumbnail {
  border-radius: 0;
  width: 240px;
  height: 400px;
  background: transparent;
  border: 0;
}


.thumbnail a h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 700;
}

.thumbnail p {
  color: #888;
}

.team-img {
  height: 220px;
  width: 234px;
}

.team-card a img{
  height: 220px;
  width: 290px;
}

.thumbnail a>img, .thumbnail>img{
  margin: 0;
  display: inline-block;
}

.thumbnail .flag {
  position: absolute;
  top: 238px;
  right: 40px;
}

.team-card .more-info {
  position: absolute;
  bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.team-card .number-of-members {
  position: absolute;
  bottom: 20px;
  right: 33px;
  width: 75px;
}


/* FAQ
===================================================== */

.faq-container {
  margin-top: 40px;
}

.faq-article {
  margin-bottom: 20px;
}

.faq-article p {
  color: #888;
}

/* LOBBY
===================================================== */

.lobby-title{
  margin: 70px;
}

.lobby-button{
  margin-bottom: 50px;
}

/* FOOTER
===================================================== */

.footer {
    position: absolute;
    width: 95%;
    bottom: 15px;
    height: 40px;
  }

  .footer ul li a {
    color: #888;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .float-right{
    float: right;
  }

  @media only screen
  and (max-width:500px){
    .footer {
      position: static;
      margin-top: 95%;
    }
  }

/* LANDING PAGE DROPDOWNS
===================================================== */

.dropdown dd,
.dropdown dt {
  margin: 0;
  padding: 0;
}

.dropdown ul {
  margin: 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 16px;
}


.dropdown dt a {
  background-color: transparent;
  display: inline-block;
  padding: 14px 8px 5px 0px;
  min-height: 25px;
  line-height: 24px;
  letter-spacing: 0.5px;
  overflow: hidden;
  border: 0;
  width: 200px;
}

.dropdown dt a span,
.multiSel1 span, .multiSel2 span, .multiSel3 span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
  color: #FFF;
}

.dropdown dd ul {
  background-color: rgba(255, 255, 255, 0.9);;
  border: 0;
  color: #000;
  display: none;
  left: 0;
  padding: 10px 15px 2px 5px;
  position: absolute;
  width: 150px;
  list-style: none;
  overflow: auto;
  z-index: 999;
}

.rank-input1{
  width: 55px; 
  height: 20px; 
  margin-left: 5px;
}

.rank-input2{
  width: 55px; 
  height: 20px; 
  margin-left: 8px;
}


.dropdown .rank1 {
  margin-left: 30px;
  width: 130px;
}
.dropdown .rank2 {
  margin-left: -100px;
  width: 130px;
}
.dropdown .rank3 {
  margin-left: 160px;
  width: 130px;
}

.dropdown .pref-lang1 {
  margin-left: 130px;
  width: 130px;
}

.dropdown .pref-lang2 {
  margin-left: 0;
  width: 130px;
}

.dropdown .pref-lang3 {
  margin-left: 260px;
  width: 130px;
}

.dropdown .ambition {
  margin-left: -35px;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.select-left-mid li{
  text-align: left;
  margin-left: 20px;
}

.select-right li{
  text-align: left;
  margin-left: 20px;
}


/* USER NAV
===================================================== */
.menu-opener img {
  border-radius: 100%;
}

.logout-btn {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  display: block;
  width: 100%;
  height: 100%;
}

  .menu, .menu.active {
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.menu-opener {
  cursor: pointer;
  height: 32px;
  position: absolute;
  top: -8%;
  right: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 32px;
}

.menu {
  background: transparent;
  height: 32px;
  position: absolute;
  top: -8%;
  right: 175px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
}

.menu.active {
  width: -webkit-calc(350px - 2rem);
  width: calc(350px - 2rem);
  z-index: 0;
}

.menu.active .menu-link {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin-right: -50px;
  overflow: hidden;
}

.menu-link {
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.menu-link li {
  margin: auto;
}

.menu-link li:hover {
  color: #d72919;
}

/* 13" AND SMALLER */

@media screen and (max-width: 1300px) {
  .menu.active {
    width: -webkit-calc(25% - 2rem);
    width: calc(25% - 2rem);
    z-index: 0;
  }

  .menu {
    right: 110px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 5px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}

/* PROMPT TEST
====================================================== */

#console {display: none;}
#dialog {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.15);
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
.dialog_state {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.dialog_state:checked + #dialog,
#dialog.dialog_open {
  transition-delay:0s;
  opacity: 1;
  visibility: visible;
}
#dlg-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
.dialog_state:checked + #dialog #dlg-wrap {
  max-height: 22rem;
  opacity: 1;
  padding: 2rem;
}
#dlg-wrap {
  position: relative;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  top: 40%;
  transform: translateY(-50%);
  width: 640px;
  padding: 2rem;
  border: 1px solid #969696;
  background: rgba(0, 0, 0, 0.9);;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: all .5s;
}
#dlg-close {
  cursor: pointer;
}
h2#dlg-header {
  font-weight: 700;
  text-transform: initial;
  margin: 0 0 1rem;
}
#dlg-content {
  letter-spacing: 0.015em;
  color: #888;
}
#dlg-prompt .sub-btn {
  border-radius: 0;
  margin-top: 10px;
  max-width: 200px;
  text-transform: uppercase;
}

.main_area {
  transition: all 0.5s ease-out;
}
.dialog_state:checked ~ .main_area,
.main_area.dialog_open {
  filter: blur(6px);
}

.button, a.button {
  display: inline-block;
  padding: 0.25em 1em;
  box-sizing: border-box;
  margin-top: 20px;

  background: #ffffff;
  color: #606060;
  text-decoration: none;
  letter-spacing: 0.075em;
  line-height: 2rem;
  font-weight: 300;
  font-size: 0.85em;
  border: 1px solid #e0e0e0;

  transition: .1s all;
  cursor: pointer;
}

#trigger {
  display:none;
}

.button:hover, a.button:hover {
  color: #a0a0a0;
  background: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  /*transform: scale(1.01);*/
}


/* Console */
#console {position: absolute;bottom: 0;left: 0;width: 100%;height: 100px;box-sizing: border-box;background: #f0f0f0;color: #606060;font: 400 13px/16px Open Sans;letter-spacing: 0em;text-align: left;padding: 2px;overflow-y: scroll;0 } #console p {margin: 0; padding: 0;} #console p em {font-style: none;font-weight: 700;}


/* Testing lobby tooltip
================================================== */
.leader-icon {
  position: absolute;
  top: 5%;
  left: 10%;
}

.leader-icon a {
  color: red;
  font-weight: 200;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  text-transform: none;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*Temp solution for scrollbar design, doesn't work in FireFox :(
=============================================================================================== */
.manage-applicants::-webkit-scrollbar  {
  width: 2px;
  height: 1px;
}
.manage-applicants::-webkit-scrollbar-button  {
  width: 0px;
  height: 0px;
}
.manage-applicants::-webkit-scrollbar-thumb  {
  background: #ff0000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.manage-applicants::-webkit-scrollbar-thumb:hover  {
  background: #ff0000;
}
.manage-applicants::-webkit-scrollbar-thumb:active  {
  background: #ff0000;
}
.manage-applicants::-webkit-scrollbar-track  {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.manage-applicants::-webkit-scrollbar-track:hover  {
  background: #ff0000;
}
.manage-applicants::-webkit-scrollbar-track:active  {
  background: #ff0000;
}
.manage-applicants::-webkit-scrollbar-corner  {
  background: transparent;
}
