.navbar-default, .navbar {
  background: none;
  border: 0;
  box-shadow: none;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

.logo {
  font-weight: 700;
}

/* HEADER STYLES */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 75px;
}

h1 {
  margin: 0;
}

.stats-container {
  height: 500px;
  background: #eee;
  margin-bottom: 30px;
}

.footer {
  background: #eee;
  height: 150px;
}

.landingpagetitle {
  text-align: center;
  margin-bottom: 75px;
  margin-top: 75px;
}

.landingpage-select {
  text-align: center;
  margin-bottom: 75px;
}

.playnow-btn {
  height: 75px;
  width: 300px;
  background: none;
  border: 1px solid black;
}

.playnow-btn:hover {
  background: limegreen;
  color: white;
  border: 1px solid limegreen;
}

img {
width: 140px;
height: 100px;
-webkit-animation:spin 2s linear infinite;
-moz-animation:spin 2s linear infinite;
animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

select {
  background: transparent;
  padding: 5px 40px;
  border-radius: 0;
  border: 1px solid black;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.more-info:hover {
  text-decoration: underline;
}

.accordion {
  margin: 50px;
}
.accordion dt, .accordion dd {
  padding: 10px;
}

.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-weight: bold;
}
.accordion dd {
  border-top: 0;
  font-size: 12px;
}
.accordion dd:last-of-type {
  border-top: 1px solid white;
  position: relative;
  top: -1px;
}
